## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [15]:
# 設定 data_path
dir_data = '../D2/'

In [21]:
df = pd.read_csv('bureau.csv')  
print(df)

         SK_ID_CURR  SK_ID_BUREAU CREDIT_ACTIVE CREDIT_CURRENCY  DAYS_CREDIT  \
0            215354       5714462        Closed      currency 1         -497
1            215354       5714463        Active      currency 1         -208
2            215354       5714464        Active      currency 1         -203
3            215354       5714465        Active      currency 1         -203
4            215354       5714466        Active      currency 1         -629
5            215354       5714467        Active      currency 1         -273
6            215354       5714468        Active      currency 1          -43
7            162297       5714469        Closed      currency 1        -1896
8            162297       5714470        Closed      currency 1        -1146
9            162297       5714471        Active      currency 1        -1146
10           162297       5714472        Active      currency 1        -1146
11           162297       5714473        Closed      currency 1        -2456
12           162297       5714474        Active      currency 1         -277
13           402440       5714475        Active      currency 1          -96
14           238881       5714482        Closed      currency 1         -318
15           238881       5714484        Closed      currency 1        -2911
16           238881       5714485        Closed      currency 1        -2148
17           238881       5714486        Active      currency 1         -381
18           238881       5714487        Active      currency 1          -95
19           238881       5714488        Closed      currency 1         -444
20           238881       5714489        Active      currency 1         -392
21           222183       5714491        Active      currency 1         -784
22           222183       5714492        Active      currency 1         -774
23           222183       5714493        Active      currency 1         -395
24           222183       5714495        Closed      currency 1        -2744
25           222183       5714496        Closed      currency 1        -1103
26           222183       5714497        Active      currency 1         -315
27           426155       5714498        Closed      currency 1        -1331
28           426155       5714499        Closed      currency 1        -2534
29           426155       5714500        Closed      currency 1         -845
...             ...           ...           ...             ...          ...
1716398      312021       5057541        Closed      currency 1        -1529
1716399      232638       5057553        Active      currency 1         -613
1716400      318662       5057561        Active      currency 1         -815
1716401      145715       5057569        Closed      currency 1        -2333
1716402      352358       5057580        Closed      currency 1        -1714
1716403      361928       5057589        Active      currency 1         -765
1716404      166279       5057599        Active      currency 1          -99
1716405      438109       5057605        Closed      currency 1        -2390
1716406      335468       5057618        Closed      currency 1        -2517
1716407      146896       5057629        Closed      currency 1        -1990
1716408      146896       5057632        Closed      currency 1         -434
1716409      146896       5057636        Closed      currency 1        -1705
1716410      280228       5057642        Active      currency 1         -575
1716411      232118       5057652        Closed      currency 1         -821
1716412      288038       5057657        Active      currency 1         -541
1716413      288038       5057665        Closed      currency 1         -463
1716414      445222       5057676        Closed      currency 1        -1628
1716415      317217       5057684        Closed      currency 1        -1970
1716416      433007       5057695        Closed      currency 1        -1100
1716417      433007       5057703        Active      currency 1         -740
1716418      433007       5057708        Closed      currency 1        -1389
1716419      352790       5057718        Closed      currency 1        -1808
1716420      352790       5057725        Closed      currency 1          -99
1716421      375755       5057734        Closed      currency 1        -1335
1716422      375755       5057742        Closed      currency 1        -2648
1716423      259355       5057750        Active      currency 1          -44
1716424      100044       5057754        Closed      currency 1        -2648
1716425      100044       5057762        Closed      currency 1        -1809
1716426      246829       5057770        Closed      currency 1        -1878
1716427      246829       5057778        Closed      currency 1         -463

         CREDIT_DAY_OVERDUE  DAYS_CREDIT_ENDDATE  DAYS_ENDDATE_FACT  \
0                         0               -153.0             -153.0
1                         0               1075.0                NaN
2                         0                528.0                NaN
3                         0                  NaN                NaN
4                         0               1197.0                NaN
5                         0              27460.0                NaN
6                         0                 79.0                NaN
7                         0              -1684.0            -1710.0
8                         0               -811.0             -840.0
9                         0               -484.0                NaN
10                        0               -180.0                NaN
11                        0               -629.0             -825.0
12                        0               5261.0                NaN
13                        0                269.0                NaN
14                        0               -187.0             -187.0
15                        0              -2607.0            -2604.0
16                        0              -1595.0             -987.0
17                        0                  NaN                NaN
18                        0               1720.0                NaN
19                        0                -77.0              -77.0
20                        0                  NaN                NaN
21                        0               1008.0                NaN
22                        0                625.0                NaN
23                        0               1431.0                NaN
24                        0              -2561.0            -2559.0
25                        0                 -7.0             -343.0
26                        0               1512.0                NaN
27                        0               -994.0            -1023.0
28                        0              -2352.0            -2347.0
29                        0               -480.0             -480.0
...                     ...                  ...                ...
1716398                   0               -829.0             -829.0
1716399                   0                721.0                NaN
1716400                   0               1011.0                NaN
1716401                   0              -2027.0            -1984.0
1716402                   0              -1530.0            -1564.0
1716403                   0               1061.0                NaN
1716404                   0                997.0                NaN
1716405                   0              -2053.0            -2082.0
1716406                   0               -660.0            -2363.0
1716407                   0              -1244.0            -1248.0
1716408                   0               -344.0             -344.0
1716409                   0               -582.0             -582.0
1716410                   0                813.0                NaN
1716411                   0               -425.0             -545.0
1716412                   0                  7.0                NaN
1716413                   0                -36.0              -36.0
1716414                   0              -1320.0            -1320.0
1716415                   0              -1577.0            -1577.0
1716416                   0               -732.0             -731.0
1716417                   0              31128.0                NaN
1716418                   0              -1299.0            -1299.0
1716419                   0              -1596.0            -1625.0
1716420                   0                -83.0              -98.0
1716421                   0              -1152.0            -1152.0
1716422                   0              31129.0             -189.0
1716423                   0                -30.0                NaN
1716424                   0              -2433.0            -2493.0
1716425                   0              -1628.0             -970.0
1716426                   0              -1513.0            -1513.0
1716427                   0                  NaN             -387.0

         AMT_CREDIT_MAX_OVERDUE  CNT_CREDIT_PROLONG  AMT_CREDIT_SUM  \
0                           NaN                   0       91323.000
1                           NaN                   0      225000.000
2                           NaN                   0      464323.500
3                           NaN                   0       90000.000
4                     77674.500                   0     2700000.000
5                         0.000                   0      180000.000
6                         0.000                   0       42103.800
7                     14985.000                   0       76878.450
8                         0.000                   0      103007.700
9                         0.000                   0        4500.000
10                        0.000                   0      337500.000
11                          NaN                   0      675000.000
12                        0.000                   0     7033500.000
13                        0.000                   0       89910.000
14                          NaN                   0           0.000
15                          NaN                   0       48555.000
16                          NaN                   0      135000.000
17                          NaN                   0      450000.000
18                          NaN                   0       67500.000
19                        0.000                   0      107184.060
20                        0.000                   0      252000.000
21                        0.000                   0           0.000
22                          NaN                   0      127840.500
23                          NaN                   0     1350000.000
24                      310.500                   0       18157.500
25                    20493.270                   0      675000.000
26                    88821.000                   0     3709552.500
27                     1350.000                   0       39433.500
28                          NaN                   0       38830.500
29                        0.000                   0       67500.000
...                         ...                 ...             ...
1716398                     NaN                   0      209898.000
1716399                     NaN                   0      972000.000
1716400                     NaN                   0      147150.000
1716401                 173.070                   0       35032.500
1716402                     NaN                   0       35271.000
1716403                     NaN                   0     1431000.000
1716404                   0.000                   0      450000.000
1716405               11317.590                   0      112204.350
1716406                   0.000                   0      473940.000
1716407                     NaN                   0       90000.000
1716408                     NaN                   0      234000.000
1716409                   0.000                   0           0.000
1716410                     NaN                   0       67500.000
1716411                   0.000                   0      108765.720
1716412                     NaN                   0      225000.000
1716413                6863.715                   0      110878.470
1716414                5693.625                   0       57834.000
1716415                     NaN                   0       93955.500
1716416                     NaN                   0       98775.000
1716417                     NaN                   0       67500.000
1716418                   0.000                   0      334158.435
1716419                8100.000                   0       28248.840
1716420                     NaN                   0       27000.000
1716421                     NaN                   0      195408.000
1716422                     NaN                   0      202500.000
1716423                   0.000                   0       11250.000
1716424                5476.500                   0       38130.840
1716425                     NaN                   0       15570.000
1716426                     NaN                   0       36000.000
1716427                     NaN                   0       22500.000

         AMT_CREDIT_SUM_DEBT  AMT_CREDIT_SUM_LIMIT  AMT_CREDIT_SUM_OVERDUE  \
0                      0.000                   NaN                     0.0
1                 171342.000                   NaN                     0.0
2                        NaN                   NaN                     0.0
3                        NaN                   NaN                     0.0
4                        NaN                   NaN                     0.0
5                  71017.380            108982.620                     0.0
6                  42103.800                 0.000                     0.0
7                      0.000                 0.000                     0.0
8                      0.000                 0.000                     0.0
9                      0.000                 0.000                     0.0
10                     0.000                 0.000                     0.0
11                     0.000                 0.000                     0.0
12                       NaN                   NaN                     0.0
13                 76905.000                 0.000                     0.0
14                     0.000                 0.000                     0.0
15                       NaN                   NaN                     0.0
16                       NaN                   NaN                     0.0
17                520920.000                   NaN                     0.0
18                  8131.500                   NaN                     0.0
19                     0.000                 0.000                     0.0
20                 23679.000            228320.100                     0.0
21                  -411.615               411.615                     0.0
22                     0.000                 0.000                     0.0
23               1185493.500                 0.000                     0.0
24                       NaN                   NaN                     0.0
25                     0.000                 0.000                     0.0
26                       NaN                   NaN                     0.0
27                     0.000                 0.000                     0.0
28                     0.000                 0.000                     0.0
29                     0.000                 0.000                     0.0
...                      ...                   ...                     ...
1716398                0.000                   NaN                     0.0
1716399           886297.500                 0.000                     0.0
1716400           105358.500                 0.000                     0.0
1716401                0.000                 0.000                     0.0
1716402                0.000                 0.000                     0.0
1716403          1092226.500                 0.000                     0.0
1716404           432787.500                 0.000                     0.0
1716405                0.000                 0.000                     0.0
1716406                0.000                 0.000                     0.0
1716407                  NaN                   NaN                     0.0
1716408                0.000                   NaN                     0.0
1716409                0.000                 0.000                     0.0
1716410                0.000                 0.000                     0.0
1716411                0.000                 0.000                     0.0
1716412            10971.000                 0.000                     0.0
1716413                0.000                 0.000                     0.0
1716414                0.000                 0.000                     0.0
1716415                  NaN                   NaN                     0.0
1716416                0.000                 0.000                     0.0
1716417             2466.000                   NaN                     0.0
1716418                0.000                 0.000                     0.0
1716419                0.000                 0.000                     0.0
1716420                0.000                 0.000                     0.0
1716421                0.000                   NaN                     0.0
1716422                0.000                   NaN                     0.0
1716423            11250.000                 0.000                     0.0
1716424                0.000                 0.000                     0.0
1716425                  NaN                   NaN                     0.0
1716426                0.000                 0.000                     0.0
1716427                0.000                   NaN                     0.0

             CREDIT_TYPE  DAYS_CREDIT_UPDATE  AMT_ANNUITY
0        Consumer credit                -131          NaN
1            Credit card                 -20          NaN
2        Consumer credit                 -16          NaN
3            Credit card                 -16          NaN
4        Consumer credit                 -21          NaN
5            Credit card                 -31          NaN
6        Consumer credit                 -22          NaN
7        Consumer credit               -1710          NaN
8        Consumer credit                -840          NaN
9            Credit card                -690          NaN
10           Credit card                -690          NaN
11       Consumer credit                -706          NaN
12              Mortgage                 -31          NaN
13       Consumer credit                 -22          NaN
14           Credit card                -185          NaN
15       Consumer credit               -2601          NaN
16       Consumer credit                -984          NaN
17       Consumer credit                  -4          NaN
18           Credit card                  -7          NaN
19       Consumer credit                 -71          NaN
20           Credit card                 -22          NaN
21           Credit card                -694          NaN
22           Credit card                -210          NaN
23       Consumer credit                 -24          NaN
24       Consumer credit               -2559          NaN
25       Consumer credit                -343          NaN
26              Car loan                 -32          NaN
27       Consumer credit               -1023          NaN
28       Consumer credit               -2345          NaN
29       Consumer credit                -480          NaN
...                  ...                 ...          ...
1716398  Consumer credit                -824          NaN
1716399      Credit card                 -42          NaN
1716400  Consumer credit                 -70          NaN
1716401  Consumer credit               -1984          NaN

In [22]:
f_app = os.path.join(dir_data, 'bureau.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ../D2/bureau.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [23]:
?bureau.csv

Object `bureau.csv` not found.

#### 列出所有欄位

In [25]:
df.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

#### 截取部分資料

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716428 entries, 0 to 1716427
Data columns (total 17 columns):
SK_ID_CURR                int64
SK_ID_BUREAU              int64
CREDIT_ACTIVE             object
CREDIT_CURRENCY           object
DAYS_CREDIT               int64
CREDIT_DAY_OVERDUE        int64
DAYS_CREDIT_ENDDATE       float64
DAYS_ENDDATE_FACT         float64
AMT_CREDIT_MAX_OVERDUE    float64
CNT_CREDIT_PROLONG        int64
AMT_CREDIT_SUM            float64
AMT_CREDIT_SUM_DEBT       float64
AMT_CREDIT_SUM_LIMIT      float64
AMT_CREDIT_SUM_OVERDUE    float64
CREDIT_TYPE               object
DAYS_CREDIT_UPDATE        int64
AMT_ANNUITY               float64
dtypes: float64(8), int64(6), object(3)
memory usage: 222.6+ MB

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子